* {
    box-sizing: border-box;
    /* color pallete
    #f0f5f9
    #c9d6df
    #52616b
    #1e2022 
    */
}

body {
  margin: 0;
  background-color: #f0f5f9;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52616b;
  height: 10vh;
}

#header h1 {
  margin: 0;
  font-family: monospace;
  font-size: 40px;
  color: #f0f5f9;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 90vh;
}

/* start of project section styling */
#project-section {
  padding: 20px 0 0 20px;
  background-color: #c9d6df;
  color: #52616b;
  font-family: monospace;
}

#project-section h2 {
  margin: 0 0 10px 0;
  font-size: 30px;
}

#project-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#project-list li {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

#project-list button {
  padding: 15px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: monospace;
  color: #52616b;
}

#project-list li h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

#project-list .active {
  background-color: #f0f5f9;
}

.delete-project:hover {
  transform: scale(1.1);
}

.delete-project:active {
  transform: scale(1.2);
}


#add-project {
  display: flex;
  align-items: baseline;
}

#project-input {
  padding: 0 0 0 10px;
  width: 200px;
  line-height: 2em;
  border: none;
  background-color: #c9d6df;
  font-family: monospace;
  font-size: 20px;
  color: #52616b;
}

#project-input:focus, #project-input:hover {
  border-bottom: 2px solid #52616b;
}

.submit-btn{
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.add-icon {
  padding: 5px 7px;
  font-size: 20px;
}

.add-icon:hover {
  transform: scale(1.1);
}

.add-icon:active {
  transform: scale(1.2);
}


/* start of todo section styling */
#todo-section {
  padding: 20px 20px 0 20px;
  background-color: #f0f5f9;
  color: #52616b;
  font-family: monospace;
}

#todo-title{
  margin: 0 0 10px 0;
  font-size: 30px;
}

#todo-list {
  margin: 0;
  padding-left: 10px;
  list-style-type: none;
}

#todo-list li {
  display: flex;
  align-items: center;
  margin: 0 0 7px 0;
  width: 500px;
  height: 65px;
  border: 2px solid #52616b;
  cursor: pointer;
}

#todo-list li input {
  margin: 0 0 0 15px;
  padding: 10px;
  margin-right: 5px;
}

#todo-list li h3{
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
  font-size: 20px;
  font-weight: normal;
}

#add-todo {
  display: flex;
  align-items: baseline;
  margin: 0 0 0 10px;
  width: 500px;
  height: 65px;
  border: 2px solid #52616b;
}

#submit-todo {
  margin-left: 15px;
}

#title-input {
  margin-left: 5px;
  padding: 0 0 0 10px;
  height: 100%;
  border: none;
  background-color: #f0f5f9;
  font-family: monospace;
  font-size: 20px;
  color: #52616b;
}